<section class="createFormation">
    <h2>{{formation.nom | uppercase}}</h2>
</section>

<div class="container">
    <h3 class="container-title">Détails</h3>
</div>

<!-- Errors -->
<div *ngIf="errMsg">
    <h3>ERROR LOADING CONTENT : {{errMsg}}</h3>
</div>

<div class="card">
    <div class="formation_info">
        <ul>
            <li><span>Nom:</span>{{formation.nom}}</li>
            <li><span>Niveau:</span>{{formation.niveau}}</li>
            <li><span>Année:</span>{{formation.annee}}</li>
            <li><span>Durée:</span>{{formation.duree}}</li>
        </ul>
    </div>
</div>

<a routerLink="/formations">Retour</a>